{% apply spaceless %}
<div id="verified-reviews" data-config='{{ config|json_encode|raw }}'>
    {% if reviews is empty %}
        <div class="alert alert-info">
            {{- 'no_reviews'|trans({}, 'EkynaVerifiedReviews') -}}
        </div>
    {% else %}
        {% if product %}
        <div class="verified-reviews-header">
            {{ 'count'|trans({'{count}': product.nbReviews}, 'EkynaVerifiedReviews') }}
            <span class="verified-review-rate" title="{{ config.trans.rate|replace({'{rate}': product.rate}) }}">
                <i>{{ config.trans.rate|replace({'{rate}': product.rate}) }}</i>
                <i style="width: {{ config.width / 5 * product.rate }}px"></i>
            </span>
        </div>
        {% endif %}
        <div class="verified-reviews-body">
            {% include "@EkynaVerifiedReviews/Js/reviews.html.twig" with {
                'config': config,
                'reviews': reviews,
            } only %}
        </div>
        {% if reviews|length == (config.columns * config.rows) %}
        <div class="verified-reviews-footer">
            <button class="btn btn-xs btn-primary" disabled="disabled">
                <i class="fa fa-comments-o"></i>
                {{- 'load_more'|trans({}, 'EkynaVerifiedReviews') -}}
            </button>
        </div>
        {% endif %}
    {% endif %}
</div>
<script async type="text/javascript">require(['ekyna-verified-reviews']);</script>
{% endapply %}
